@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("./css/bootstrap.icon-extra.min.css");

#root {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.hidden{
  display: none;
}
.clear{
  clear: both;
}

table th,td{
  text-align: center;
}

.header{
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width:415px){
  
}